*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
    color: hsl(213, 8%, 21%);
}

p{
    color: hsl(200, 1%, 46%);
}

body{
    font-size: 18px;
    line-height: 1.4;
    font-family: 'Bai Jamjuree', sans-serif;
}

.intro{
    background-image: url(images/bg-header-desktop.png), linear-gradient(0deg, rgba(255,255,255,0.5324511201839882) 21%, rgba(159,171,178,0.8125814133435973) 100%);
    background-size: cover;
    background-position: center center;
    height: 90vh;
}

.intro section{
    width: 80%;
    margin: auto; 
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    flex-direction: column;
    text-align: center;
    padding-top: 7%;
}

.intro section .description{
    padding: 50px;
}

.intro section .description h2{
    padding-bottom: 16px;
}

.intro section .description p{
    width: 60%;
    margin: auto;
    padding: 6px;
}

.btn{
    padding: 20px 77px;
    color: #fff;
    border-radius: 24px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.ios{
    background-color: hsl(171, 66%, 44%);
}

.mac{
    background-color: hsl(233, 100%, 69%);
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding-bottom: 80px
}

.desc p{
    padding-top: 20px;
    width: 60%;
    margin: auto;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 80px;
    width: 96%;
    margin: auto;
    padding-bottom: 80px;
}

.wrapper div{
    display: flex;
    flex-direction: column;
    /* padding-top: 40px; */
    margin-top: -80px;
    line-height: 1.8;
}

.wrapper div section p{
    width: 70%;
}

.wrapper div section:first-child {
    padding-bottom: 50px;
}

.wrapper div section:nth-child(2) {
    padding-bottom: 50px;
}

.wrapper2 > h2, .wrapper2 > p{
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
}

.wrapper2 p{
    padding-bottom: 60px;
    text-align: center;
    width: 50%;
    margin: auto;
}

.wrapper2 .img{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.workflow > h2, .workflow > p{
    display: flex;
    justify-content: center;
    padding: 8px;
    align-items: center;
}

.tools{
    display: flex;
    padding: 50px;
    text-align: center;
}

.tools > div > p{
    width: 70%;
    margin: auto;
    line-height: 1.6;
    padding-bottom: 20px;
}

.tools > div > h2{
    padding-bottom: 20px;
}

.tools > div > img{
    padding-bottom: 20px;
}

.partners{
    display: flex;
    width: 86%;
    margin: auto;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 50px;
}

.download > h2, .download > p{
    display: flex;
    justify-content: center;
    padding: 4px;
    align-items: center;
}

.download > .buttons{
    padding: 20px 0;
}

/* footer{
    background-color: #afaeae32;
    display: flex;
    justify-content: space-around;
    align-items: center;
} */

footer{
    background-color: #afaeae32;
}

.footer {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.left {
    flex: 1;
}

.left > img{
    width: 80px;
}

.middle {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.middle > ul > li{
    list-style: none;
    display: inline;
    padding: 0 10px;
}

.middle > ul > li > a:hover{
    color: aqua;
}

.middle > ul > li > a {
    text-decoration: none;
    color: hsl(200, 1%, 46%);
}

.right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.right img {
    margin-right: 10px;
}
